.cart-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
  }
/* styles.css or the corresponding CSS file */
.card-total {
    background-color: #f8f9fa; /* Light grey background color */
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Adjust as needed */
    height: 50%; /* Adjust as needed */
}

    